@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.burger_menu_show {
  animation-name: burger_menu_show;
  animation-duration: 0.2s;
}

.burger_menu_hidden {
  animation-name: burger_menu_hidden;
  animation-duration: 0.2s;
}

@keyframes burger_menu_show {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .50;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1
  }
}

@keyframes burger_menu_hidden {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .75;
  }

  50% {
    opacity: .50;
  }

  75% {
    opacity: .25;
  }

  100% {
    opacity: 0
  }
}